* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
main {
    background-color: hsl(229, 57%, 11%);
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat ;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container {
    width: 90%;
    margin: auto;
    background-color:  hsl(228, 56%, 26%);
    padding-bottom: 50px;
    border-radius: 10px 120px 10px 10px;
}
.logo img {
    padding: 24px;
}
.primary {
    padding-left: 40px;
   display: flex;
}
.docs {
    margin-right: 40px;
}
.docs img {
    padding: 10px;
    background-color: hsl(229, 57%, 11%);
    border-radius: 10px;   
}
.secondary {
    position: relative;
    width: 90%;
    margin: 30px auto;   
    padding: 40px; 
    background-color:  hsl(228, 56%, 26%);
    color: white;
    border-radius: 10px;
}
.rangeCtrl {
    background-color: hsl(229, 57%, 11%);
    border-radius: 40px;
    padding: 4px;
    margin-bottom: 35px;
}
input[type="range"] {
    position: relative;
    width: 100%;
    display: block;
   /* margin: auto; */
    -webkit-appearance: none;
    border-radius: 7px;     
    background: linear-gradient(90deg , hsl(6, 100%, 80%) 82% , hsl(335, 100%, 65%) 60%, hsl(229, 57%, 11%) 60%);  
    outline: none; 
    }
    input[type="range"]::after {
        content: "1000 GB";
        color: white;
        top: 25px;
        left: 80%;
        width: 25%;
        position: absolute;
    }
    input[type="range"]::before {
        content: "0 GB";
        color: white;
        top: 25px;
        left: 0%;
        width: 25%;
        position: absolute;
    }
    .valueDisplay {
        position: absolute;
    /* margin-top: 40px; */
    left: 25%;
    color: black;
    background-color: white;
    width: 50%;
   /* margin: 8% auto;*/
    padding: 20px;
    border-radius: 9px;
    }
    span#gbLeft {
        font-size: 2rem;
        font-weight: 800;
    }

    @media screen and (min-width: 680px) {
        .container, .secondary{
            width: 50%;
        }
        .valueDisplay {           
            left: 30%; 
            width: 40%;          
        }
        
        
    }
     
@media screen and (min-width: 1280px) {
    main {       
        display: flex;
        padding: 280px 245px;
       /* background-color: hsl(229, 57%, 11%);*/
        background-image: url("./images/bg-desktop.svg");
        background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    align-items: end;
    }
    .docs {
        margin-right: 30px;
        margin-top: -9px;
    }
    p {
        margin-top: 16px;
        margin-left: -8px;
        font-size: 1rem;
        padding-bottom: 12px;
    }
    .logo img {
        margin-top: 0px;
        padding: 40px 39px;
    }
    .container {
        width: 37%;
        border-radius: 10px 110px 10px 10px;
        padding-bottom: 24px;
    }
    .secondary {
        width: 56%;
        margin: 58px auto 0;
        padding: 20px 40px;
    }
    .valueDisplay {      
        left: 315px;
        top: -48px;
        width: 180px;
    }
    .valueDisplay::after {
        position: absolute;
        content: "";
        background: transparent;
        top: 54px;
        left: 140px;
        transform: rotate(92deg);
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 30px solid white;
    }
    .rangeCtrl {       
        padding: 5px;       
        margin-left: -12px;
    }
}
